<header>
    <nav class="navbar">
        <div class="container-fluid">
            <img src="/src/assets/img/Logos/header-logo.png" style="max-width: 210px; height:auto;">
            <div class="nav navbar-nav1">
                <a href="#" class="btn btn3">HOME</a>
                <a href="#" class="btn btn3">SHOP</a>
                <a href="#" class="btn btn3">ABOUT</a>
                <a href="#" class="btn btn3">CONTACT</a>
                <a href="#" class="btn btn1">BOOK NOW</a>
            </div>
            <div class="nav navbar-nav2">
                <a href="#" class="btn MyAccount">My Account</a>
                <a href="#" class="btn btn2"><i class="fas fa-search"></i></a>
                <button type="button" class="btn btn-info" data-toggle="dropdown">
                    <i class="fa-regular fa-cart-shopping"></i> Sepet <span class="badge badge-pill badge-danger">3</span>
                    </button>
            </div>
        </div>
    </nav>
</header>
