    <div class="Container justify-content-center text-center">
        <div class="col-md-12" *ngIf="products; else: noProduct">
            <h2>{{title}}</h2>  
        
        </div>

        <div class="col-md-12">
            <div class="input-group justify-content-center">
                <div class="form-outline">
                  <input id="search-input" placeholder="Ara" type="search" id="form1" class="form-control" [(ngModel)]="FilterText" />
                </div>
                <button id="search-button" type="button" class="btn btn-primary">
                  <i class="fas fa-search">{{FilterText}}</i>
                </button>
              </div>
        </div>

        <ng-template #noProduct>
            <div class="alert alert-primary" role="alert">
                Ürün Bulunamadı
            </div>
        </ng-template>
        <div class="container d-flex justify-content-center mt-50 mb-50">
                
        <div class="row">
           <div class="col-md-4 mt-2" *ngFor="let product of products | productFilter:FilterText">
            
                
                <div class="card">
                                    <div class="card-body">
                                        <div class="card-img-actions">
                                            
                                                <img [src]="product.ImageUrl" class="card-img img-fluid" width="96" height="350" alt="">

                                        </div>
                                    </div>
    
                                    <div class="card-body bg-light text-center">
                                        <div class="mb-2">
                                            <h6 class="font-weight-semibold mb-2">
                                                <a href="#" class="text-default mb-2" data-abc="true">{{product.Name}}</a>
                                            </h6>
    
                                            <a href="#" class="text-muted" data-abc="true">{{product.Category}}</a>
                                        </div>
    
                                        <h3 class="mb-0 font-weight-semibold">{{product.Price | currency:'TRY':true:"1.2-2"}}</h3>
    
    
                                        <button type="button" class="btn bg-cart"><i class="fa fa-cart-plus mr-2"></i>Sepete Ekle</button>
    
                                        
                                    </div>
                                </div>
    
    
                            
                             
           </div> 
    
        </div>
    </div>
    
    </div> 