header .navbar{
    padding: 25px;
    box-shadow: 2px;
}


.MyAccount{
    color: white;
    background-color: rgb(238, 109, 3);
}

.MyAccount  :hover{
    color: black;
}

.navbar-menu a{
    color: white;
}
.navbar-menu:hover{
    color: rgba(255, 255, 255, 0.816);
    border-bottom:1px solid #ff9900;
    border-radius: 0px;
}
